<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body style="background-color: #FFEAD0;">
    <div class="row">
      <div class="col-md-10 text-right">
        <a style="color: purple; font-weight: bold; font-size: 19px"  
            href="/products_services">Back</a>
      </div>
    </div>
  <% include ../static/partials/navbar1.ejs %>
    
   <% include ../static/partials/messages.ejs %>
    <div class="main">
      <div class="text-center">
        <h1 id="title" class="display-1" style="color: #37505C; font-family: URW Chancery; font-size: 108px;">Bridal Bouquets</h1>
      </div>
    </div>
<br>    
<br>

<div class="row">      

        <div class="col-md-4 text-center">
          <a href="/products/invitations" style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;" ><p>Bouquet #1</p> </a>
           <img src="/products/bouquets/bouquet1.jpg" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $100</p>
          <a href="products/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a> 
        </div>

      
        <div class="col-md-4 text-center">
          <a href="/products/invitations" style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;" ><p>Bouquet #2</p> </a>
           <img src="/products/bouquets/bouquet2.jpg" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $150</p>
          <a href="products/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a> 
        </div>
        
        <div class="col-md-4 text-center">
          <a href="/products/invitations" style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;" ><p>Bouquet #3</p> </a>
           <img src="/products/bouquets/bouquet3.jpg" class="img-fluid" alt="Table" style="height: 250px; width: 270px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $175</p>
          <a href="products/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a> 
        </div>

        <div class="col-md-4 text-center">
          <a href="/products/invitations" style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;" ><p>Bouquet #4</p> </a>
           <img src="/products/bouquets/bouquet4.jpg" class="img-fluid" alt="Table" style="height: 250px; width: 375px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $125</p>
          <a href="products/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a> 
        </div>
  
</div>







  
    <br>
    <br>
    <br>
    <br>
    <% include ../static/partials/baseLinks.ejs %>
    <% include ../static/partials/baseScripts.ejs %>
    <br>
  </body>
</html>