<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body style="background-color: #FFEAD0;">
    <div class="row">
      <div class="col-md-10 text-right">
        <a style="color: purple; font-weight: bold; font-size: 19px"  
            href="/products_services">Back</a>
      </div>
    </div>
  <% include ../static/partials/navbar1.ejs %>
    
   <% include ../static/partials/messages.ejs %>
    <div class="main">
      <div class="text-center">
        <h1 id="title" class="display-1" style="color: #37505C; font-family: URW Chancery; font-size: 108px;">Centerpieces</h1>
      </div>
    </div>
<br>    
<br>

<div class="row">      
        <div class="col-md-4 text-center">
          <a href="/products/centerpieces" style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;" ><p>Long Stem Flowers</p> </a>
           <img src="/products/centerpieces/centerpiece1.jpg" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $165/each</p>
          <a href="products/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a> 
        </div>

        <div class="col-md-4 text-center">
          <a href="/products/centerpieces" style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;" ><p>Large Basket of Flowers</p> </a>
           <img src="/products/centerpieces/centerpiece2.jpg" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $135/each</p>
          <a href="products/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a> 
        </div>

        <div class="col-md-4 text-center">
          <a href="/products/centerpieces" style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;" ><p>Flowers with Umbrella</p> </a>
           <img src="/products/centerpieces/centerpiece3.jpg" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $175/each</p>
          <a href="products/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a> 
        </div>
       
        <div class="col-md-4 text-center">
          <a href="/products/centerpieces" style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;" ><p>Small Basket of Flowers</p> </a>
           <img src="/products/centerpieces/centerpiece4.jpg" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $115/each</p>
          <a href="products/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a> 
        </div>

</div>







  
    <br>
    <br>
    <br>
    <br>
    <% include ../static/partials/baseLinks.ejs %>
    <% include ../static/partials/baseScripts.ejs %>
    <br>
  </body>
</html>