<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body style="background-color: #FFEAD0;">
    <div class="row">
      <div class="col-md-10 text-right">
        <a style="color: purple; font-weight: bold; font-size: 19px"  
            href="/products_services">Back</a>
      </div>
    </div>
  
  <% include ../static/partials/navbar1.ejs %>
    
   <% include ../static/partials/messages.ejs %>
    <div class="main">
      <div class="text-center">
        <h1 id="title" class="display-1" style="color: #37505C; font-family: URW Chancery; font-size: 108px;">Tables and Chairs</h1>
      </div>
    </div>
    <br>  
    <br>  

<div class="row">      
        <div class="col-md-4 text-center">
          <a href="/products/tables_chairs" style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;" ><p>8 Ft Wood Folding Banquet Table</p> </a>
           <img src="/products/tables_chairs/table1.webp" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $65/each</p>
          <a href="products/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a> 
        </div>

        <div class="col-md-4 text-center">
          <a href="/products/tables_chairs" style="font-size: 34px; 
                  font-family: 'Times New Roman', Times, serif; 
                  font-style: italic; color:orchid;
                  font-weight: bold;" ><p>5 Ft Round Wood Banquet Table</p> </a>
           <img src="/products/tables_chairs/table2.webp" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $60/each</p>
          <a href="products/cart"><p style="font-size: 22px; 
                  font-family: 'Times New Roman', Times, serif; 
                  font-style: italic; color:orchid;
                  font-weight: bold;">Add to Cart</p></a>
        </div>

        <div class="col-md-4 text-center">
          <a href="/products/tables_chairs" style="font-size: 34px; 
                  font-family: 'Times New Roman', Times, serif; 
                  font-style: italic; color:orchid;
                  font-weight: bold;" ><p>Plastic Folding Table</p> </a>
           <img src="/products/tables_chairs/table3.webp" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $45/each</p>
          <a href="products/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a>
         </div>

        <div class="col-md-4 text-center">
          <a href="/products/tables_chairs" style="font-size: 34px; 
                  font-family: 'Times New Roman', Times, serif; 
                  font-style: italic; color:orchid;
                  font-weight: bold;" ><p>Wood Bench Style Table</p> </a>
           <img src="/products/tables_chairs/table4.jpg" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $75/each</p>
          <a href="products/cart"><p style="font-size: 22px; 
                  font-family: 'Times New Roman', Times, serif; 
                  font-style: italic; color:orchid;
                  font-weight: bold;">Add to Cart</p></a>
        </div>

        <div class="col-md-4 text-center">
          <a href="/products/tables_chairs" style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;" ><p>Folding Wooden Chair</p> </a>
           <img src="/products/tables_chairs/chair2.webp" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $12/each</p>
          <a href="products/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a> 
        </div>

        <div class="col-md-4 text-center">
          <a href="/products/tables_chairs" style="font-size: 34px; 
                  font-family: 'Times New Roman', Times, serif; 
                  font-style: italic; color:orchid;
                  font-weight: bold;" ><p>Folding Padded Chair</p> </a>
           <img src="/products/tables_chairs/chair3.webp" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $17/each</p>
          <a href="products/cart"><p style="font-size: 22px; 
                  font-family: 'Times New Roman', Times, serif; 
                  font-style: italic; color:orchid;
                  font-weight: bold;">Add to Cart</p></a>
        </div>

        <div class="col-md-4 text-center">
          <a href="/products/tables_chairs" style="font-size: 34px; 
                  font-family: 'Times New Roman', Times, serif; 
                  font-style: italic; color:orchid;
                  font-weight: bold;" ><p>Plastic Non-folding Chair</p> </a>
           <img src="/products/tables_chairs/chair4.webp" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $21/each</p>
          <a href="products/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a>
         </div>

        <div class="col-md-4 text-center">
          <a href="/products/tables_chairs" style="font-size: 34px; 
                  font-family: 'Times New Roman', Times, serif; 
                  font-style: italic; color:orchid;
                  font-weight: bold;" ><p>Wood Non-Folding Chair</p> </a>
           <img src="/products/tables_chairs/chair5.webp" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $25/each</p>
          <a href="products/cart"><p style="font-size: 22px; 
                  font-family: 'Times New Roman', Times, serif; 
                  font-style: italic; color:orchid;
                  font-weight: bold;">Add to Cart</p></a>
        </div>


  
</div>







  
    <br>
    <br>
    <br>
    <br>
    <% include ../static/partials/baseLinks.ejs %>
    <% include ../static/partials/baseScripts.ejs %>
    <br>
  </body>
</html>