<div class="row text-center">
  <div class="col-md-3"></div>

  <div class="col-md-2">
    <a href="https://www.facebook.com/" target="_blank" >
      <img src="/gallery/socialMedia/facebook.jpg" alt="facebook logo" style="height: 28px";>
    </a>
  </div>
  
  <div class="col-md-2">  
    <a href="https://twitter.com/" target="_blank" >
      <img src="/gallery/socialMedia/twitter.jpg" alt="twitter logo" style="height: 28px";>
    </a>
  </div>

  <div class="col-md-2">
    <a href="https://www.linkedin.com/home" target="_blank">
      <img src="/gallery/socialMedia/linkedIn.jpg" alt="linkedIn logo" style="height: 28px";>
    </a>
  </div>

  <div class="col-md-3"></div>
</div>
