
  
    <div class="row">
      <div class="col-md-1"></div>
      <ul class="nav-item">
        <a class="nav-link" href="/products" style="color: purple;font-weight: bold; font-size: 19px ">Products and Services</a>
      </ul>
      <ul class="nav-item">
        <a class="nav-link" href="/gallery"style="color: purple;font-weight: bold; font-size: 19px " >Gallery</a>
      </ul>
      <ul class="nav-item">
        <a class="nav-link" href="/contact"style="color: purple; font-weight: bold; font-size: 19px" >Contact Us</a>
      </ul>
      <ul class="nav-item">
        <a class="nav-link" href="/about"style="color: purple; font-weight: bold; font-size: 19px" >About Us</a>
      </ul>
      <ul class="nav-item">
        <a class="nav-link" href="/reviews"style="color: purple; font-weight: bold; font-size: 19px" >Reviews</a>
      </ul>

      <% if(currentUser) { %>
        <ul class="nav-item">
          <a class="nav-link" href="/users/signOut" style="color: purple; font-weight: bold; font-size: 19px">Sign Out</a>
        </ul>
      <% } else { %>
        <ul class="nav-item">
          <a class="nav-link" href="/users/signUp" style="color: purple; font-weight: bold; font-size: 19px">Sign Up</a>
        </ul>

        <ul class="nav-item">
          <a class="nav-link" href="/users/signIn" style="color: purple; font-weight: bold; font-size: 19px">Sign In</a>
        </ul>
      <% } %>
      
  </div>
   
