<div class="row">
  <div class="col-md-9"></div>   
  <a class="nav-link" style="color: purple; font-weight: bold; font-size: 19px" href="/">Home</a>
  <a class="nav-link" style="color: purple; font-weight: bold; font-size: 19px" href="/cart">Cart</a>
 
</div>

<div class="row">
  <div class="col-md-5"></div>
    <div class="col-md-2">
      <img src="/logo/logo.jpg" alt="Company Logo" style="height: 150px; width: 200px; margin-bottom: 24px; background-color: cornflowerblue;";>
    </div>
  <div class="col-md-5"></div>   
</div>