<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body style="background-color: #FFEAD0;">
  
  <% include ../static/partials/navbar1.ejs %>
    
    <div class="main">
      <div class="text-center">
        <h1 id="title" class="display-1" style="color: #37505C; font-family: URW Chancery; font-size: 128px;">Wedding Cakes</h1>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-12">                 
        <% include ../static/partials/navbar2.ejs %>
      </div>
    </div>
    <br>

    <div class="row text-center">
      
      <div class="col-md-3">
        <a href="/gallery/cakes/cakeSlideshow"> <img src="/gallery/cakes/cake1.jpg" class="img-fluid" alt="Wedding Cake" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/cakes/cakeSlideshow"> <img src="/gallery/cakes/cake2.jpg" class="img-fluid" alt="Wedding Cake" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/cakes/cakeSlideshow"> <img src="/gallery/cakes/cake3.jpg" class="img-fluid" alt="Wedding Cake" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/cakes/cakeSlideshow"> <img src="/gallery/cakes/cake4.jpg" class="img-fluid" alt="Wedding Cake" style="height: 250px"> </a> 
      </div>

    </div>
    <br>
    <div class="row text-center">

      <div class="col-md-3">
        <a href="/gallery/cakes/cakeSlideshow"> <img src="/gallery/cakes/cake5.jpg" class="img-fluid" alt="Wedding Cake" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/cakes/cakeSlideshow"> <img src="/gallery/cakes/cake6.jpg" class="img-fluid" alt="Wedding Cake" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/cakes/cakeSlideshow"> <img src="/gallery/cakes/cake7.jpg" class="img-fluid" alt="Wedding Cake" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/cakes/cakeSlideshow"> <img src="/gallery/cakes/cake8.jpg" class="img-fluid" alt="Wedding Cake" style="height: 250px"> </a> 
      </div>

    </div>
    <br>
    <div class="row text-center">

      <div class="col-md-3">
        <a href="/gallery/cakes/cakeSlideshow"> <img src="/gallery/cakes/cake9.jpg" class="img-fluid" alt="Wedding Cake" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/cakes/cakeSlideshow"> <img src="/gallery/cakes/cake10.jpg" class="img-fluid" alt="Wedding Cake" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/cakes/cakeSlideshow"> <img src="/gallery/cakes/cake11.jpg" class="img-fluid" alt="Wedding Cake" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/cakes/cakeSlideshow"> <img src="/gallery/cakes/cake12.jpg" class="img-fluid" alt="Wedding Cake" style="height: 250px"> </a> 
      </div>

    </div>
    <br>
    <div class="row text-center">
      <div class="col-md-3"></div>
        <div class="col-md-3">
          <a href="/gallery/cakes/cakeSlideshow"> <img src="/gallery/cakes/cake13.jpg" class="img-fluid" alt="Wedding Cake" style="height: 250px"> </a> 
        </div>

        <div class="col-md-3">
          <a href="/gallery/cakes/cakeSlideshow"> <img src="/gallery/cakes/cake14.jpg" class="img-fluid" alt="Wedding Cake" style="height: 250px"> </a> 
        </div>
      <div class="col-md-3"></div>
    </div>

<br>
<br>
<br>
 
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>