<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body style="background-color: #FFEAD0;">
  
  <% include ../static/partials/navbar1.ejs %>
    
    <div class="main">
      <div class="text-center">
        <h1 id="title" class="display-1" style="color: #37505C; font-family: URW Chancery; font-size: 128px;">Catering</h1>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-12">                 
        <% include ../static/partials/navbar2.ejs %>
      </div>
    </div>
    <br>

    <div class="row text-center">
      
      <div class="col-md-3">
        <a href="/gallery/catering/cateringSlideshow"> <img src="/gallery/catering/food1.jpg" class="img-fluid" alt="Catering" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/catering/cateringSlideshow"> <img src="/gallery/catering/food2.jpg" class="img-fluid" alt="Catering" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/catering/cateringSlideshow"> <img src="/gallery/catering/food3.jpg" class="img-fluid" alt="Catering" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/catering/cateringSlideshow"> <img src="/gallery/catering/food4.jpg" class="img-fluid" alt="Catering" style="height: 250px"> </a> 
      </div>

    </div>
    <br>
    <div class="row text-center">

      <div class="col-md-3">
        <a href="/gallery/catering/cateringSlideshow"> <img src="/gallery/catering/food5.jpg" class="img-fluid" alt="Catering" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/catering/cateringSlideshow"> <img src="/gallery/catering/food6.jpg" class="img-fluid" alt="Catering" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/catering/cateringSlideshow"> <img src="/gallery/catering/food7.jpg" class="img-fluid" alt="Catering" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/catering/cateringSlideshow"> <img src="/gallery/catering/food8.jpg" class="img-fluid" alt="Catering" style="height: 250px"> </a> 
      </div>

    </div>
    <br>
    <div class="row text-center">

      <div class="col-md-3">
        <a href="/gallery/catering/cateringSlideshow"> <img src="/gallery/catering/food9.jpg" class="img-fluid" alt="Catering" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/catering/cateringSlideshow"> <img src="/gallery/catering/food10.jpg" class="img-fluid" alt="Catering" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/catering/cateringSlideshow"> <img src="/gallery/catering/food11.jpg" class="img-fluid" alt="Catering" style="height: 250px"> </a> 
      </div>

    </div>

<br>
<br>
<br>
 
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>