<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body style="background-color: #FFEAD0;">
  
  <% include ../static/partials/navbar1.ejs %>
    
    <div class="main">
      <div class="text-center">
        <h1 id="title" class="display-1" style="color: #37505C; font-family: URW Chancery; font-size: 128px;">Decorations</h1>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-12">                 
        <% include ../static/partials/navbar2.ejs %>
      </div>
    </div>
    <br>

    <div class="row text-center">
      
      <div class="col-md-3">
        <a href="/gallery/decorations/decorSlideshow"> <img src="/gallery/decorations/decor1.jpg" class="img-fluid" alt="Decoration" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/decorations/decorSlideshow"> <img src="/gallery/decorations/decor2.jpg" class="img-fluid" alt="Decoration" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/decorations/decorSlideshow"> <img src="/gallery/decorations/decor3.jpg" class="img-fluid" alt="Decoration" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/decorations/decorSlideshow"> <img src="/gallery/decorations/decor4.jpg" class="img-fluid" alt="Decoration" style="height: 250px"> </a> 
      </div>

    </div>
    <br>
    <div class="row text-center">

      <div class="col-md-3">
        <a href="/gallery/decorations/decorSlideshow"> <img src="/gallery/decorations/decor5.jpg" class="img-fluid" alt="Decoration" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/decorations/decorSlideshow"> <img src="/gallery/decorations/decor6.jpg" class="img-fluid" alt="Decoration" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/decorations/decorSlideshow"> <img src="/gallery/decorations/decor7.jpg" class="img-fluid" alt="Decoration" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/decorations/decorSlideshow"> <img src="/gallery/decorations/decor8.jpg" class="img-fluid" alt="Decoration" style="height: 250px"> </a> 
      </div>


    </div>
    <br>
    <div class="row text-center">

      <div class="col-md-3">
        <a href="/gallery/decorations/decorSlideshow"> <img src="/gallery/decorations/decor9.jpg" class="img-fluid" alt="Decoration" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/decorations/decorSlideshow"> <img src="/gallery/decorations/decor10.jpg" class="img-fluid" alt="Decoration" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/decorations/decorSlideshow"> <img src="/gallery/decorations/decor11.jpg" class="img-fluid" alt="Decoration" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/decorations/decorSlideshow"> <img src="/gallery/decorations/decor12.jpg" class="img-fluid" alt="Decoration" style="height: 250px"> </a> 
      </div>

    </div>

<br>
<br>
<br>
 
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>