<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body style="background-color: #FFEAD0;">
  
  <% include ../static/partials/navbar1.ejs %>
    
    <div class="main">
      <div class="text-center">
        <h1 id="title" class="display-1" style="color: #37505C; font-family: URW Chancery; font-size: 128px;">Bridesmaid Dresses</h1>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-12">                 
        <% include ../static/partials/navbar2.ejs %>
      </div>
    </div>
    <br>

    <div class="row text-center">
      
      <div class="col-md-3">
        <a href="/gallery/dresses/dressSlideshow"> <img src="/gallery/dresses/dresses1.jpg" class="img-fluid" alt="Bridesmaid Dress" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/dresses/dressSlideshow"> <img src="/gallery/dresses/dresses2.jpg" class="img-fluid" alt="Bridesmaid Dress" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/dresses/dressSlideshow"> <img src="/gallery/dresses/dresses3.jpg" class="img-fluid" alt="Bridesmaid Dress" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/dresses/dressSlideshow"> <img src="/gallery/dresses/dresses4.jpg" class="img-fluid" alt="Bridesmaid Dress" style="height: 250px"> </a> 
      </div>

    </div>
    <br>
    <div class="row text-center">

      <div class="col-md-3">
        <a href="/gallery/dresses/dressSlideshow"> <img src="/gallery/dresses/dresses5.jpg" class="img-fluid" alt="Bridesmaid Dress" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/dresses/dressSlideshow"> <img src="/gallery/dresses/dresses6.jpg" class="img-fluid" alt="Bridesmaid Dress" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/dresses/dressSlideshow"> <img src="/gallery/dresses/dresses7.jpg" class="img-fluid" alt="Bridesmaid Dress" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/dresses/dressSlideshow"> <img src="/gallery/dresses/dresses8.jpg" class="img-fluid" alt="Bridesmaid Dress" style="height: 250px"> </a> 
      </div>

    </div>

<br>
<br>
<br>
 
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>