<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body style="background-color: #FFEAD0;">
  
  <% include ../static/partials/navbar1.ejs %>
    
    <div class="main">
      <div class="text-center">
        <h1 id="title" class="display-1" style="color: #37505C; font-family: URW Chancery; font-size: 128px;">Wedding Invitations</h1>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-12">                 
        <% include ../static/partials/navbar2.ejs %>
      </div>
    </div>
    <br>

    <div class="row text-center">
      
      <div class="col-md-3">
        <a href="/gallery/invitations/inviteSlideshow"> <img src="/gallery/invitations/invite1.jpg" class="img-fluid" alt="Invitation" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/invitations/inviteSlideshow"> <img src="/gallery/invitations/invite2.jpg" class="img-fluid" alt="Invitation" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/invitations/inviteSlideshow"> <img src="/gallery/invitations/invite3.jpg" class="img-fluid" alt="Invitation" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/invitations/inviteSlideshow"> <img src="/gallery/invitations/invite4.jpg" class="img-fluid" alt="Invitation" style="height: 250px"> </a> 
      </div>

    </div>
    <br>
    <br>
    <div class="row text-center">

      <div class="col-md-3">
        <a href="/gallery/invitations/inviteSlideshow"> <img src="/gallery/invitations/invite5.jpg" class="img-fluid" alt="Invitation" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/invitations/inviteSlideshow"> <img src="/gallery/invitations/invite6.jpg" class="img-fluid" alt="Invitation" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/invitations/inviteSlideshow"> <img src="/gallery/invitations/invite7.jpg" class="img-fluid" alt="Invitation" style="height: 250px"> </a> 
      </div>

      <div class="col-md-3">
        <a href="/gallery/invitations/inviteSlideshow"> <img src="/gallery/invitations/invite8.jpg" class="img-fluid" alt="Invitation" style="height: 250px"> </a> 
      </div>

    </div>


<br>
<br>
<br>
 
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>