<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body style="background-color: #FFEAD0;">
  
  <% include ./partials/navbar1.ejs %>
    
   <% include ./partials/messages.ejs %>
    <div class="main">
      <div class="text-center">
        <h1 id="title" class="display-1" style="color: #37505C; font-family: URW Chancery; font-size: 128px;">Gallery</h1>
      </div>
    </div>
    <br>
    
    <div class="row"> 
      <div class="col-md-12 text-center" style="color: #37505C;">
        <h1>Sorry, this page in not ready yet</h1>
      </div>
    </div>

<br>
<br>
<br>
<br>
<br>

    <% include ./partials/baseLinks.ejs %>
    <% include ./partials/baseScripts.ejs %>
    <br>
  </body>
</html>