<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body style="background-color: #FFEAD0;">
  
  <% include ./partials/navbar1.ejs %>
    
   <% include ./partials/messages.ejs %>
    <div class="main">
      <div class="text-center">
        <h1 id="title" class="display-1" style="color: #37505C; font-family: URW Chancery; font-size: 128px;">Gallery</h1>
      </div>
    </div>
    <br>
    
    <div class="row">
      <div class="col-md-12">                 
        <% include ./partials/navbar2.ejs %>
      </div>
    </div>
    <br>

    <div class="row text-center">

      <div class="col-md-4">
        <a href="/gallery/reception" style="font-size: 28px; 
              font-family: 'Times New Roman', Times, serif; 
              font-style: italic; color:orchid;
              font-weight: bold;" ><p>Reception</p> </a>
        <a href="/gallery/reception"> <img src="/gallery/danceFloors/danceFloor5.jpg" class="img-fluid" alt="Decoration" style="height: 250px"> </a> 
      </div>
      
      <div class="col-md-4">
        <a href="/gallery/decorations" style="font-size: 28px; 
              font-family: 'Times New Roman', Times, serif; 
              font-style: italic; color:orchid;
              font-weight: bold;" ><p>Decorations</p> </a>
        <a href="/gallery/decorations"> <img src="/gallery/decorations/decor8.jpg" class="img-fluid" alt="Decoration" style="height: 250px"> </a> 
      </div>

      <div class="col-md-4">
        <a href="/gallery/catering" style="font-size: 28px; 
              font-family: 'Times New Roman', Times, serif; 
              font-style: italic; color:orchid;
              font-weight: bold;" ><p>Catering</p> </a>
       <a href="/gallery/catering"> <img src="/gallery/catering/food6.jpg" class="img-fluid" alt="Decoration" style="height: 250px"> </a> 
      </div>
    
    </div>
    <br>
    <br>
    <div class="row text-center">
      
      <div class="col-md-4">
        <a href="/gallery/dresses" style="font-size: 28px; 
              font-family: 'Times New Roman', Times, serif; 
              font-style: italic; color:orchid;
              font-weight: bold;" ><p>Bridesmaid Dresses</p> </a>
        <a href="/gallery/dresses"> <img src="/gallery/dresses/dresses4.jpg" class="img-fluid" alt="Decoration" style="height: 250px"> </a> 
      </div>

      <div class="col-md-4">
        <a href="/gallery/cakes" style="font-size: 28px; 
              font-family: 'Times New Roman', Times, serif; 
              font-style: italic; color:orchid;
              font-weight: bold;" ><p>Wedding Cakes</p> </a>
       <a href="/gallery/cakes"> <img src="/gallery/cakes/cake12.jpg" class="img-fluid" alt="Decoration" style="height: 250px"> </a>  
      </div>

      <div class="col-md-4">
        <a href="/gallery/invitations" style="font-size: 28px; 
              font-family: 'Times New Roman', Times, serif; 
              font-style: italic; color:orchid;
              font-weight: bold;" ><p>Wedding Invitations</p> </a>
        <a href="/gallery/invitations"> <img src="/gallery/invitations/invite4.jpg" class="img-fluid" alt="Decoration" style="height: 250px"> </a> 
      </div>

    </div>


<br>
<br>
<br>
<br>
<br>

    <% include ./partials/baseLinks.ejs %>
    <% include ./partials/baseScripts.ejs %>
    <br>
  </body>
</html>