<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body style="background-color: #FFEAD0;">
   
  <% include ../static/partials/navbar1.ejs %>
    
   <% include ../static/partials/messages.ejs %>
    <div class="main">
      <div class="text-center">
        <h1 id="title" class="display-1" 
            style="color: #37505C; font-family: URW Chancery; 
            font-size: 108px;">Dinners and Appetizers</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a style="color: purple; font-weight: bold; font-size: 22px"  
            href="/products_services">Back to Products and Services</a>
      </div>
    </div>
<br>    
<br>

<div class="row">      

        <div class="col-md-4 text-center">
          <p style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Chicken Dinner</p>
           <img src="/services/catering/dinner1.jpg" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $40/plate</p>
          <!-- <a href="services/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a>  -->
        </div>

        <div class="col-md-4 text-center">
        <p style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Steak Dinner</p> 
           <img src="/services/catering/dinner3.jpg" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $65/plate</p>
          <!-- <a href="services/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a>  -->
        </div>

        <div class="col-md-4 text-center">
          <p style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Fish Dinner</p> 
           <img src="/services/catering/dinner5.jpg" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $50/plate</p>
          <!-- <a href="services/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a>  -->
        </div>

        <div class="col-md-4 text-center">
          <p style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Sushi Dinner</p> 
           <img src="/services/catering/dinner4.jpg" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $55/plate</p>
          <!-- <a href="services/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a>  -->
        </div>

        <div class="col-md-4 text-center">
       <p style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Buffet Dinner</p> 
           <img src="/services/catering/dinner2.jpg" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $35/plate</p>
          <!-- <a href="services/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a>  -->
        </div>


        <div class="col-md-4 text-center">
        <p style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Brie & Raspberry En Croute</p>
           <img src="/services/catering/app1.webp" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $40</p>
          <!-- <a href="services/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a>  -->
        </div>

        <div class="col-md-4 text-center">
        <p style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Cheese Board</p>
           <img src="/services/catering/app2.jpg" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $30</p>
          <!-- <a href="services/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a>  -->
        </div>

        <div class="col-md-4 text-center">
         <p style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Bruschetta</p> 
           <img src="/services/catering/app4.jpg" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $45</p>
          <!-- <a href="services/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a>  -->
        </div>

        <div class="col-md-4 text-center">
         <p style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Sliders</p> 
           <img src="/services/catering/app5.jpg" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $75</p>
          <!-- <a href="services/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a>  -->
        </div>
  
</div>
  
    <br>
    <br>
    <br>
    <br>
    <% include ../static/partials/baseLinks.ejs %>
    <% include ../static/partials/baseScripts.ejs %>
    <br>
  </body>
</html>