<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body style="background-color: #FFEAD0;">
 
  <% include ../static/partials/navbar1.ejs %>
    
   <% include ../static/partials/messages.ejs %>
    <div class="main">
      <div class="text-center">
        <h1 id="title" class="display-1" 
            style="color: #37505C; font-family: URW Chancery; 
            font-size: 108px;">Music Options</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a style="color: purple; font-weight: bold; font-size: 22px"  
            href="/products_services">Back to Products and Services</a>
      </div>
    </div>
<br>    
<br>

<div class="row">      

        <div class="col-md-4 text-center">
          <p style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;" >DJ</p>
           <img src="/services/music/dj2.jpg" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $2000</p>
          <!-- <a href="services/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a>  -->
        </div>

        <div class="col-md-4 text-center">
       <p style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">80s Style Band</p>
           <img src="/services/music/band1.jpg" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $4000</p>
          <!-- <a href="services/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a>  -->
        </div>

        <div class="col-md-4 text-center">
        <p style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Classical Band</p>
           <img src="/services/music/band2.jpg" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $4000</p>
          <!-- <a href="services/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a>  -->
        </div>

        <div class="col-md-4 text-center">
       <p style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Rock Band</p>
           <img src="/services/music/band4.jpg" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $4000</p>
          <!-- <a href="services/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a>  -->
        </div>

        <div class="col-md-4 text-center">
          <p style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Pop Band</p>
           <img src="/services/music/band3.jpg" class="img-fluid" alt="Table" style="height: 250px; width: 400px;">        
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $4000</p>
           <!-- <a href="services/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a>  -->
        </div>

        
        <div class="col-md-4 text-center">
          <p style="font-size: 34px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Country Music Band</p>
           <img src="/services/music/band5.jpg" class="img-fluid" alt="Table" style="height: 250px">
           <p style="font-size: 24px; 
                     font-family: 'Times New Roman', Times, serif; 
                     font-style: italic; color:orchid;
                     font-weight: bold;">Price: $4000</p>
          <!-- <a href="services/cart"><p style="font-size: 22px; 
                   font-family: 'Times New Roman', Times, serif; 
                   font-style: italic; color:orchid;
                   font-weight: bold;">Add to Cart</p></a>  -->
        </div>
  
</div>
  
    <br>
    <br>
    <br>
    <br>
    <% include ../static/partials/baseLinks.ejs %>
    <% include ../static/partials/baseScripts.ejs %>
    <br>
  </body>
</html>