<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body style="background-color: #FFEAD0;">
  
  <% include ../static/partials/navbar1.ejs %>
    
   <% include ../static/partials/messages.ejs %>
    <div class="main">
      <div class="text-center">
        <h1 id="title" class="display-1" style="color: #37505C; font-family: URW Chancery; font-size: 88px;">Your Cart</h1>
      </div>
    </div>
    <br>
    
    <div class="row">
      <div class="col-md-12">                 
        <% include ../static/partials/navbar2.ejs %>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <% include ../static/partials/baseLinks.ejs %>
    <% include ../static/partials/baseScripts.ejs %>
    <br>

  </body>
</html>